<div ng-controller="app.views.lobby as vm">
    <div class="row">
        <div class="col-md-12">
            <button ng-click="vm.openGameCreationModal()" class="btn btn-primary pull-right">
            <i class="fa fa-plus"></i> @L("CreateNewGame")</button>
            <table class="table">
                <thead>
                    <tr>
                        <th>@L("Rule")</th>
                        <th>@L("Private")</th>
                        <th>@L("Players")</th>
                        <th>@L("Join")</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="game in vm.games">
                        <td>{{game.mjRuleName}}</td>
                        <td>{{game.isPrivateGame ? '@L("Yes")' : '@L("No")'}}</td>
                        <td>{{game.totalPlayers}}/4</td>
                        <td><button class="btn btn-primary" id="{{game.Id}}">@L("Join")</button></td>
                    </tr>
                </tbody>
            </table>        
        </div>
    </div>
</div>